@using BugTrackerWebApp.ViewModels
@model Project
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h1 class="my-4">
        Detail page of @Model.Name
    </h1>
    <div class="row">
        <div class="col-md-4">
            <h3 class="my-3">@Model.Name</h3>
            <p>@Model.Description</p>
            <h3 class="my-3">Task Details</h3>
            <ul>
                <li>Project was created at: @Model.StartDate.Value.DayOfYear</li>
                @if (Model.EndDate is null)
                {
                    <li>Project was not finished yet</li>
                }
                else
                {
                    <li>Project was finished at:@Model.EndDate</li>
                }
                <li>Project status is @Model.Status</li>
                @if(Model.ProjectLink is null)
                {
                    <li> Project was not added to tracker, please contact the project manager</li>
                }
                else{
                <li>ProjectLink link on GitHub/GitLab is @Model.ProjectLink </li>}

            </ul>
        </div>
    </div>
</div>